body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  align-content: center;
  background-color: hotpink;
  font-size: 15px;
  color: white;
}

h1 {
  text-align: center;
  text-decoration: underline;
  font-size: 30px;
}

img {
  width: 70px;
  height: 70px;
}

div {
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 60px;
}

select {
  font-size: 20px;
  border-radius: 50%;
  color: white;
  background-color: hotpink;
  padding: 14px 40px;
  border-color: white;
  border-width: thick;
}
